{% extends "base.html" %}{% load static %}{% block content %}

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="stylesheet" href="{% static 'css/styles.css' %}" />
		<title>{% block title %} Document {% endblock title %}</title>
	</head>
	<body>
		<div class="main-block">
			<!-- <div class="nav-bar">
				<div class="nav-menu">
					<div class="icon">
						<a href="#" class="nav-link"
							><img src="{% static 'images/logo.png' %}" alt=""
						/></a>
					</div>
					<ul>
						<li><a href="#" class="nav-link">Проект</a></li>
						<li><a href="#" class="nav-link">Адрес</a></li>
						<li>
							<a href="{% url 'goodfood:main' %}" class="nav-link">Главная</a>
						</li>
					</ul>
				</div>
			</div> -->

			<div class="content">
				<div class="title">Правильные ингридиенты для правильных блюд</div>
				<div class="btts">
					<button type="button" class="done">Забронировать</button>
					<button type="button" class="look-at-menu">
						<a class="btn-link" href="{% url 'goodfood:goods'%}"
							>Посмотреть меню</a
						>
					</button>
				</div>
			</div>
		</div>
	</body>
</html>

{% endblock content %}
