{% extends "base.html" %} {% load static %} 

{% block content %}

<form method="get" class="search-form">
  {% csrf_token %}
  <input type="text" name="q" placeholder="Поиск..." value="{{ request.GET.q }}">
  <button type="submit">🔍</button>
</form>

<section class="second-block">
<div class="container my-5">
  <div class="row g-4">
    {% for food in context %}
      <div class="col-12 col-sm-6 col-md-4 col-lg-3">
        <article class="card h-100 d-flex flex-column">
        {% if food.category %}
          <span class="badge bg-success mt-2 ms-2 position-absolute top-0 start-0"><a href="{{food.category.get_absolute_url}}">{{ food.category }}</a></span>
        {% endif %}

        {% if food.photo %}
        <div class="card-img-wrapper">
          <img src="{{ MEDIA_URL }}{{ food.photo }}" alt="{{ food.name }}" draggable="false">
        </div>
        {% endif %}

        <div class="card-body d-flex flex-column text-center">
          <h5 class="card-title mb-2">{{ food.name }}</h5>
          <p class="card-text scroll-text mb-3">{{ food.desc }}</p>
          
         
          <a href="{{ food.get_absolute_url }}" class="btn btn-primary mt-auto">Посмотреть</a>
        </div>
      </article>
      </div>
    {% endfor %}
  </div>
</div>
</section>


{% endblock content %}

