* {
	padding: 0 0;
	margin: 0 0;
	font-family: 'Times New Roman', Times, serif;
}

a {
	text-decoration: none;
	color: inherit;
}

body {
    background-color: #070510; 
    margin: 0;
    padding: 0;
}

li {
	display: inline;
}

ul {
	list-style-type: none;
}

@media (max-width: 767.98px) {
  .col-12 {
    padding-left: 24px;
    padding-right: 15px;
  }
}
.nav-bar {
	width: 100%;
	background-color: transparent;
}

.nav-menu {
	font-size: 32px;
	font-weight: 900;
}

.nav-link {
    position: relative;
    color: #fff;
    text-decoration: none;
    transition: color 0.3s;
		font-size: 18px;
		font-weight: 800;
		padding: 10px;
		margin-right: 10px;
}

.nav-link::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 3px;

    background: linear-gradient(to top, #27d80870, rgba(23, 24, 23, 0));
    box-shadow: 0 0 8px #070510;
		
    transform: scaleY(0);
    transform-origin: bottom; 
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.btn-link:hover,
.btn-link:focus,
.btn-link:active {
    color: #979797ab;  
}
.nav-link:hover::after {
    transform: scaleY(1);
}



.main-block {
    display: flex;
    align-items: center;      
    justify-content: flex-start; 
    
    background: url(../images/delicious-vegetable-salad.jpg) center/cover no-repeat;
    min-height: calc(100vh - 64px);
    width: 100%;
}

@media (max-width: 2560px){
  .main-block {
    padding-right: 36vh;
}
}

.title {
	font-size: 46px;
	font-weight: 900;
	max-width: min-content;
	color: aliceblue;
}

.btts {
	padding-top: 40px;
	min-width: fit-content;
}

.btts button {
	color: aliceblue;
	font-size: 18px;
	width: 200px;
	block-size: 50px;
	margin-right: 20px;
}

.btts button.done {
	background-color: green;
	border-color: green;
}

.btts button.look-at-menu {
	background-color: rgba(86, 86, 86, 0.1);
	border-color: rgb(237, 237, 237);
}

.btn-link {
	text-decoration: none;
	color: #ffffff;
}

.btn-link:link {
	text-decoration: none;
	color: #ffffff;
}

.second-block {
	background: url("../images/background_objects.png") center/cover no-repeat;   
  position:absolute;
	width: 100%;
	min-height: 100vh;  
  padding: 60px 0;

}


.content-food-list {
  background-color: #e4e3e9;        
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
  gap: 24px;
  max-width: 1200px;              
  margin: 0 auto 30px auto;         
  padding: 20px;                    
  align-items: start;
}

.card-body {
  width: 100%;
  max-width: 350px;
  margin: 0 auto;

  display: flex;
  flex-direction: column;
}

.btn .food-card, .content-food-list {
  overflow-x: hidden;
	resize: none; 
}

.card-text {
  max-height: 50px;        
  white-space: pre-wrap;      
  padding-right: 10px;        
  box-sizing: border-box;     
	resize: none;       
  overflow-y: auto;   
  overflow-x: hidden; 
	transform: translateZ(0);

  flex-shrink: 0; 
}


.card-img-wrapper {
  height: 200px;        
  overflow: hidden;

}

.card-img-wrapper img {
  width: 100%;
  height: 100%;
  object-fit: cover;
	pointer-events: none;
  user-select: none;    
}


.category-food {
  color: #e4e3e9;
  font-size: 22px;
  font-weight: 600;
  background-color: darkgreen;
  border-radius: 8px; 
  padding: 6px 14px;
  margin-bottom: 40px;
}

.badge {
  font-size: 0.8rem;      
  padding: 0.3em 0.6em;   
}

.card { position: relative; }


@media (max-width: 575.98px) {
  .title-food { font-size: 32px; }
  .text-food  { font-size: 18px; }
  .img-food img { width: 70%; }
}

@media (max-width: 768px) {
  img, 
  p, 
  h1, 
  h2, 
  h3, 
  span, 
  a, 
  button {
    -webkit-user-drag: none;  /* Safari, Chrome */
    user-select: none;         /* запрет выделения текста */
    -moz-user-select: none;    /* Firefox */
    -ms-user-select: none;     /* IE10+ */
  }

  img {
    draggable: false; /* HTML-атрибут нужно ставить через JS или в HTML */
  }
}

.card-text {
  transform: translateZ(0);  /* включает GPU acceleration */
  -webkit-backface-visibility: hidden;
  -webkit-transform: translate3d(0,0,0);
}

.card-text::-webkit-scrollbar {
  width: 6px;
}

.card-text::-webkit-scrollbar-thumb {
  background: goldenrod;
  border-radius: 3px;
}

.card-text::-webkit-scrollbar-track {
  background: transparent;
}