* {
	padding: 0 0;
	margin: 0 0;
	font-family: 'Times New Roman', Times, serif;
}

.nav-bar {
	width: 100%;
	background-color: transparent;
}

.nav-menu {
	font-size: 32px;
	font-weight: 900;
}

li {
	display: inline;
}

ul {
	list-style-type: none;
}

.icone a.nav-link {
	float: left;

	text-decoration: none;
	color: #f2f2f2;
	font-size: 18px;
	font-weight: 800;
}

a.nav-link {
	float: right;
	text-align: center;
	padding: 14px 16px;
	margin-right: 10px;

	text-decoration: none;
	color: #f2f2f2;
	font-size: 18px;
}

a.nav-link:link {
	color: #f2f2f2;
}

a.nav-link:hover {
	border-bottom: 1px solid;
	background-color: #070510;
}

a.nav-link:active {
	color: rgb(78, 78, 78);
}

.main-block {
	background-image: url(../images/bg.png);
	background-repeat: no-repeat;
	background-size: cover;
	width: 100%;
}

.content {
	padding-top: 350px;
	padding-left: 200px;
	padding-bottom: 250px;
}

.title {
	font-size: 46px;
	font-weight: 900;
	max-width: min-content;
	color: aliceblue;
}

.btts {
	padding-top: 40px;
	min-width: fit-content;
}

.btts button {
	color: aliceblue;
	font-size: 18px;
	width: 200px;
	block-size: 50px;
	margin-right: 20px;
}

.btts button.done {
	background-color: green;
	border-color: green;
}

.btts button.look-at-menu {
	background-color: rgba(86, 86, 86, 0.1);
	border-color: rgb(237, 237, 237);
}

.btn-link {
	text-decoration: none;
	color: #ffffff;
}

.btn-link:link {
	text-decoration: none;
	color: #ffffff;
}

body {
	background-image: url(../images/background.png);
}

.second-block {
	background-image: url(../images/background_objects.png);
	background-repeat: no-repeat;
	background-size: cover;
	width: 100%;

	display: flex;
	align-items: center;
	justify-content: center;

	padding-top: 250px;

	padding-bottom: 250px;
}

.content-food {
	background-color: #ffffff;

	width: 800px;
}

.title-food {
	text-align: center;

	font-size: 40px;
	font-weight: 700;

	color: goldenrod;

	padding-top: 40px;
	padding-bottom: 40px;
}

.text-food {
	text-align: center;

	font-size: 18px;

	padding-left: 150px;
	padding-right: 150px;

	font-style: italic;
}

.img-food {
	text-align: center;
	padding-top: 60px;
	padding-bottom: 30px;
}
