* {
	padding: 0 0;
	margin: 0 0;
	font-family: 'Times New Roman', Times, serif;
}

@media (max-width: 767.98px) {
  .col-12 {
    padding-left: 24px;
    padding-right: 15px;
  }
}
.nav-bar {
	width: 100%;
	background-color: transparent;
}

.nav-menu {
	font-size: 32px;
	font-weight: 900;
}

li {
	display: inline;
}

ul {
	list-style-type: none;
}

.nav-link {
    position: relative;
    color: #fff;
    text-decoration: none;
    transition: color 0.3s;
		font-size: 18px;
		font-weight: 800;
		padding: 10px;
		margin-right: 10px;
}

.nav-link::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 3px;

    background: linear-gradient(to top, #27d80870, rgba(23, 24, 23, 0));
    box-shadow: 0 0 8px #070510;
		
    transform: scaleY(0);
    transform-origin: bottom; 
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.btn-link:hover,
.btn-link:focus,
.btn-link:active {
    color: #979797ab;         /* остаётся белым на hover, focus и active */
}
.nav-link:hover::after {
    transform: scaleY(1);
}


a {
	text-decoration: none;
	color: inherit;
}

body {
	background-color: #070510;
}


.main-block {
    display: flex;
    align-items: center;      
    justify-content: flex-start; 
    
    background: url(../images/bg.png) center/cover no-repeat;
    min-height: calc(100vh - 64px); 
    width: 100%;
}

.title {
	font-size: 46px;
	font-weight: 900;
	max-width: min-content;
	color: aliceblue;
}

.btts {
	padding-top: 40px;
	min-width: fit-content;
}

.btts button {
	color: aliceblue;
	font-size: 18px;
	width: 200px;
	block-size: 50px;
	margin-right: 20px;
}

.btts button.done {
	background-color: green;
	border-color: green;
}

.btts button.look-at-menu {
	background-color: rgba(86, 86, 86, 0.1);
	border-color: rgb(237, 237, 237);
}

.btn-link {
	text-decoration: none;
	color: #ffffff;
}

.btn-link:link {
	text-decoration: none;
	color: #ffffff;
}

.second-block {
	background-image: url(../images/background_objects.png);
	background-repeat: no-repeat;
	background-size: cover;
	width: 100%;

	align-items: center;
	justify-content: center;

	padding-top: 250px;

	padding-bottom: 250px;
}

.content-food-list {
	background-image: url(../images/white-table.png);

	width: 800px;

	display: flex;
	flex-direction: column;
	flex-wrap: wrap;

	align-items: center;
	justify-content: center;

	list-style: none;
	width: 800px;
	margin: auto;
	margin-bottom: 30px;
}

.title-food {
	text-align: center;

	font-size: 46px;
	font-weight: 700;

	color: goldenrod;

	padding-top: 32px;
	padding-bottom: 20px;
}

.text-food {
	text-align: center;

	font-size: 24px;
	font-weight: 700;

	font-style: italic;
}

.img-food {
	text-align: center;
	padding-top: 40px;
	padding-bottom: 60px;
}

.img-food img {
	width: 30%;
}

.category-food {
	color: #e4e3e9;
	font-size: 22px;
	font-weight: 600;

	background-color: darkgreen;

	border-radius: 5%;
}
