{% extends "base.html" %} {% load static %} {% block content %}

		<div class="second-block">
			{% for f in food %}
				<ul class="content-food-list">
				<li><div class="category-food">{{f.category}}</div></li>

				<li><div class="title-food"><a href="{{ f.get_absolute_url }}">{{f.name}}</a></div></li>
				<li><div class="text-food">{{f.desc}}</div></li>
				<li><div class="img-food"><img src="{{ MEDIA_URL }}/{{f.photo}}" alt="" /></li>
				</ul>
			{% endfor %}
			</div>
		</div>
	{% endblock content %}
</html>