{% extends "base.html" %} {% load static %} {% block content %}

		
		<div class="second-block">

				{% for food in context %}			
				<ul class="content-food-list">

					{% if food.category %}
					<li><div class="category-food"><a href="{{food.category.get_absolute_url}}">{{food.category}}</a></div></li>
					{% endif %}
	
					{% if food.name %}
					<li><div class="title-food"><a href="{{food.get_absolute_url}}">{{food.name}}</a></div></li>
					{% endif %}

					{% if food.desc %}		
					<li><div class="text-food">{{food.desc}}</div></li>
					{% endif %}

					{% if food.photo %}
					<li><div class="img-food">
						<img src="{{ MEDIA_URL }}/{{food.photo}}" alt="" />
					</li>
					{% endif %}
				</ul>
				{% endfor %}
			</div>
		</div>

	{% endblock content %}

