{% load static %}

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="stylesheet" href="{% static 'css/styles.css' %}" />
		<title>{% block title %} Document {% endblock title %}</title>
	</head>
	<body>
		<div class="main-block">
			<div class="nav-bar">
				<div class="nav-menu">
					<div class="icon">
						<a href="#" class="nav-link"
							><img src="{% static 'images/logo.png' %}" alt=""
						/></a>
					</div>
					<ul>
						<li><a href="#" class="nav-link">Проект</a></li>
						<li><a href="#" class="nav-link">Адрес</a></li>
						<li>
							<a href="{% url 'goodfood:main' %}" class="nav-link">Главная</a>
						</li>
					</ul>
				</div>
			</div>

			<div class="content">
				<div class="title">Правильные ингридиенты для правильных блюд</div>

				<div class="btts">
					<button type="button" class="done">Забронировать</button>
					<button type="button" class="look-at-menu">
						<a class="btn-link" href="{% url 'goodfood:goods'%}"
							>Посмотреть меню</a
						>
					</button>
				</div>
			</div>
		</div>

		<div class="second-block">
			<div class="content-food">
				<div class="title-food">Title of something</div>
				<div class="text-food">
					Lorem ipsum dolor sit amet consectetur adipisicing elit. Magnam aut,
					ipsum aperiam culpa vel in, incidunt numquam quos et nesciunt debitis
					vero repellendus tempora quaerat, sit deleniti ex voluptas? Debitis?
					Lorem ipsum dolor sit amet consectetur adipisicing elit. Magnam aut,
					ipsum aperiam culpa vel in, incidunt numquam quos et nesciunt debitis
					vero repellendus tempora quaerat, sit deleniti ex voluptas? Debitis?
				</div>
				<div class="img-food">
					<img src="{% static 'images/dish.png' %}" alt="" />
				</div>
			</div>
		</div>
	</body>
</html>
