name: Build and push Docker image

on:
  push:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v2

      - name: Log in to Docker Hub
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      - name: Build Db
        env:
          DB_PASSWORD: ${{ secrets.DB_PASSWORD }}
          POSTGRES_PASSWORD: ${{ secrets.POSTGRES_PASSWORD }}
          SECRET_KEY: ${{ secrets.SECRET_KEY }}
        run: |
          export DOCKER_BUILDKIT=1
          docker build \
          --secret id=secret_key,env=SECRET_KEY \
          --secret id=db_password,env=DB_PASSWORD \
          --secret id=postgres_password,env=POSTGRES_PASSWORD \
          -f services/db/Dockerfile \
          -t haelad/db:latest .

      - name: Build Cache
        env:
          REDIS_PASSWORD: ${{ secrets.REDIS_PASSWORD }}
          REDIS_USER_PASSWORD: ${{ secrets.REDIS_USER_PASSWORD }}
        run: |
          export DOCKER_BUILDKIT=1
          docker build \
                      --secret id=redis_password,env=REDIS_PASSWORD \
                      --secret id=redis_user_password,env=REDIS_USER_PASSWORD \
                      -f services/redis/Dockerfile \
                      -t haelad/redis:latest .

      - name: Push images
        run: |
          docker push haelad/db:latest
          docker push haelad/redis:latest

      - name: Deploy with docker-compose
        run: |
          docker-compose up -d

          