name: CI with Docker Compose and Postgres

on:
  push:

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3

    # Устанавливаем Docker Compose (если нужно)
    - name: Install Docker Compose
      run: sudo apt-get update && sudo apt-get install -y docker-compose

    # Передаем секреты в переменные окружения и запускаем docker-compose
    - name: Run docker-compose with Postgres
      env:
        POSTGRES_PASSWORD: ${{ secrets.POSTGRES_PASSWORD }}
        SECRET_KEY :  ${{ secrets.SECRET_KEY }}
      run: |
        docker-compose up -d

    # Ждем, пока Postgres станет доступен
    - name: Wait for Postgres
      run: |
        until docker exec $(docker ps -qf "name=db") pg_isready -U postgres; do
          echo "Waiting for Postgres..."
          sleep 2
        done

    # Запускаем ваши тесты, используя правильный DATABASE_URL
    - name: Run tests
      env:
        DATABASE_URL: postgres://postgres:${{ secrets.POSTGRES_PASSWORD }}@localhost:5432/postgres
      run: |
        # Здесь ваши команды для тестов
        echo "Запускаем тесты"
          